<% include partials/header.ejs  %>

<h2>Hello, Welcome to Singapore's Most Cui Airline!</h2>

<p>We couldn't afford proper code monkeys so the following links have been typed by normal monkeys and do not have hyperlink magic. Please proceed to manually type them into your browser for full access rights to passengers and flights.(because we believe in transparency)</p>

<ul>
  <li>localhost:<%= port %>/users for users</li>
  <li>localhost:<%= port %>/bookings for users</li>
</ul>

<h4>SIALAH Airlines reserves all rights to suddenly change flight details such as dates and destinations. Take at your own risk.</h4>

<% include partials/footer.ejs  %>
